In [1]:
# Import all neccesary modules for cleaning
import pandas as pd
import matplotlib.pyplot as plt
import warnings

In [2]:
warnings.filterwarnings("ignore") # Low memory - diff types warning
df_p2p = pd.read_csv("data/case_study_loan_FS.csv")
df_p2p.head(3)

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,1,2.014123e+09,5056179,10400.0,10400.0,10400.0,36 months,6.99%,321.08,A,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2.014123e+09,4975197,15000.0,15000.0,15000.0,60 months,12.39%,336.64,C,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2.014123e+09,6343655,12800.0,12800.0,12800.0,60 months,17.14%,319.08,D,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_p2p.info('''verbose=True''')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235631 entries, 0 to 235630
Data columns (total 145 columns):
Unnamed: 0                                    int64
id                                            float64
member_id                                     int64
loan_amnt                                     float64
funded_amnt                                   float64
funded_amnt_inv                               float64
term                                          object
int_rate                                      object
installment                                   float64
grade                                         object
sub_grade                                     object
emp_title                                     object
emp_length                                    object
home_ownership                                object
annual_inc                                    float64
verification_status                           object
issue_d                                       object
loan_status                                   object
pymnt_plan                                    object
url                                           float64
desc                                          object
purpose                                       object
title                                         object
zip_code                                      object
addr_state                                    object
dti                                           float64
delinq_2yrs                                   float64
earliest_cr_line                              object
inq_last_6mths                                float64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                      float64
pub_rec                                       float64
revol_bal                                     float64
revol_util                                    object
total_acc                                     float64
initial_list_status                           object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                  object
last_pymnt_amnt                               float64
next_pymnt_d                                  object
last_credit_pull_d                            object
collections_12_mths_ex_med                    float64
mths_since_last_major_derog                   float64
policy_code                                   float64
application_type                              object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                     float64
acc_now_delinq                                float64
tot_coll_amt                                  float64
tot_cur_bal                                   float64
open_acc_6m                                   float64
open_act_il                                   float64
open_il_12m                                   float64
open_il_24m                                   float64
mths_since_rcnt_il                            float64
total_bal_il                                  float64
il_util                                       float64
open_rv_12m                                   float64
open_rv_24m                                   float64
max_bal_bc                                    float64
all_util                                      float64
total_rev_hi_lim                              float64
inq_fi                                        float64
total_cu_tl                                   float64
inq_last_12m                                  float64
acc_open_past_24mths                          float64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                      float64
delinq_amnt                                   float64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                          float64
mo_sin_rcnt_rev_tl_op                         float64
mo_sin_rcnt_tl                                float64
mort_acc                                      float64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                         float64
num_actv_bc_tl                                float64
num_actv_rev_tl                               float64
num_bc_sats                                   float64
num_bc_tl                                     float64
num_il_tl                                     float64
num_op_rev_tl                                 float64
num_rev_accts                                 float64
num_rev_tl_bal_gt_0                           float64
num_sats                                      float64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                  float64
num_tl_90g_dpd_24m                            float64
num_tl_op_past_12m                            float64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                          float64
tax_liens                                     float64
tot_hi_cred_lim                               float64
total_bal_ex_mort                             float64
total_bc_limit                                float64
total_il_high_credit_limit                    float64
revol_bal_joint                               float64
sec_app_earliest_cr_line                      float64
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                 object
hardship_type                                 object
hardship_reason                               object
hardship_status                               object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                           object
hardship_end_date                             object
payment_plan_start_date                       object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                          object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
debt_settlement_flag                          object
debt_settlement_flag_date                     object
settlement_status                             object
settlement_date                               object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
dtypes: float64(108), int64(2), object(35)
memory usage: 260.7+ MB

In [4]:
df_p2p

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,1,2.014123e+09,5056179,10400.0,10400.0,10400.0,36 months,6.99%,321.08,A,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2.014123e+09,4975197,15000.0,15000.0,15000.0,60 months,12.39%,336.64,C,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2.014123e+09,6343655,12800.0,12800.0,12800.0,60 months,17.14%,319.08,D,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2.014123e+09,6060755,9600.0,9600.0,9600.0,36 months,13.66%,326.53,C,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2.014123e+09,5544167,21425.0,21425.0,21425.0,60 months,15.59%,516.36,D,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
5,6,2.014123e+09,5060568,7650.0,7650.0,7650.0,36 months,13.66%,260.20,C,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
6,7,2.014123e+09,3782265,16000.0,16000.0,16000.0,60 months,11.44%,351.40,B,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
7,8,2.014123e+09,4109512,2500.0,2500.0,2500.0,36 months,11.99%,83.03,B,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
8,9,2.014123e+09,6598721,5250.0,5250.0,5250.0,36 months,11.44%,172.98,B,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
9,10,2.014123e+09,6013917,17000.0,17000.0,17000.0,36 months,13.66%,578.22,C,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
10,11,2.014123e+09,7048484,10000.0,10000.0,10000.0,36 months,11.99%,332.10,B,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
11,12,2.014123e+09,4344119,23325.0,23325.0,23325.0,36 months,14.31%,800.71,C,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
12,13,2.014123e+09,6565453,12975.0,12975.0,12975.0,36 months,17.86%,468.17,D,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
13,14,2.014123e+09,6830202,21075.0,21075.0,21075.0,60 months,21.99%,581.95,E,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
14,15,2.014123e+09,5575072,3000.0,3000.0,3000.0,36 months,10.49%,97.50,B,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
15,16,2.014123e+09,5142617,6000.0,6000.0,6000.0,36 months,10.49%,194.99,B,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
16,17,2.014123e+09,5394474,2000.0,2000.0,2000.0,36 months,14.99%,69.33,C,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
17,18,2.014123e+09,4449601,2000.0,2000.0,2000.0,36 months,15.99%,70.31,D,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
18,19,2.014123e+09,5231109,4000.0,4000.0,4000.0,36 months,15.99%,140.61,D,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
19,20,2.014123e+09,5346545,15000.0,15000.0,15000.0,60 months,20.99%,405.72,E,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
20,21,2.014123e+09,6438504,7200.0,7200.0,7200.0,36 months,12.39%,240.49,C,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
21,22,2.014123e+09,6463622,2000.0,2000.0,2000.0,36 months,14.31%,68.66,C,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
22,23,2.014123e+09,6286395,18000.0,18000.0,18000.0,36 months,11.99%,597.78,B,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
23,24,2.014123e+09,6764234,28000.0,28000.0,28000.0,60 months,10.49%,601.70,B,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
24,25,2.014123e+09,5907787,18450.0,18450.0,18450.0,36 months,14.31%,633.36,C,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
25,26,2.014123e+09,6553156,14000.0,14000.0,14000.0,36 months,10.49%,454.97,B,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
26,27,2.014123e+09,7354050,1000.0,1000.0,1000.0,36 months,12.39%,33.41,C,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
27,28,2.014123e+09,6231995,13550.0,13550.0,13550.0,60 months,19.99%,358.92,E,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
28,29,2.014123e+09,6521154,10800.0,10800.0,10800.0,36 months,9.49%,345.91,B,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
29,30,2.014123e+09,4179342,5000.0,5000.0,5000.0,36 months,10.49%,162.49,B,...,NaN,NaN,NaN,Y,Aug-2018,COMPLETE,Jan-2018,753.0,44.98,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235601,235602,2.014359e+09,6281515,15000.0,15000.0,15000.0,36 months,16.99%,534.72,D,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235602,235603,2.014359e+09,6832330,7000.0,7000.0,7000.0,36 months,9.67%,224.79,B,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235603,235604,2.014359e+09,4065168,18000.0,18000.0,17975.0,36 months,15.61%,629.37,C,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235604,235605,2.014359e+09,5672231,24000.0,24000.0,24000.0,36 months,21.48%,910.13,E,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235605,235606,2.014359e+09,5587097,14400.0,14400.0,14375.0,36 months,13.53%,488.88,B,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235606,235607,2.014359e+09,4105425,14000.0,14000.0,14000.0,36 months,16.24%,493.86,C,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235607,235608,2.014359e+09,7232771,24000.0,24000.0,24000.0,36 months,13.98%,820.04,C,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235608,235609,2.014359e+09,4950542,15250.0,15250.0,15250.0,36 months,17.57%,548.05,D,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235609,235610,2.014359e+09,7527867,32000.0,32000.0,31975.0,36 months,7.90%,1001.29,A,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235610,235611,2.014359e+09,5583738,12000.0,12000.0,12000.0,36 months,8.90%,381.04,A,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235611,235612,2.014359e+09,6704993,10000.0,10000.0,10000.0,36 months,12.85%,336.22,B,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235612,235613,2.014359e+09,4764429,5000.0,5000.0,5000.0,36 months,22.40%,191.99,E,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235613,235614,2.014359e+09,4184546,12000.0,12000.0,12000.0,36 months,16.24%,423.31,C,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235614,235615,2.014359e+09,4962306,13250.0,13250.0,13225.0,60 months,22.90%,372.77,E,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235615,235616,2.014359e+09,4708681,10000.0,10000.0,10000.0,36 months,7.90%,312.91,A,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235616,235617,2.014359e+09,4443648,12000.0,12000.0,12000.0,60 months,21.48%,327.89,E,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235617,235618,2.014359e+09,4092390,6000.0,6000.0,6000.0,36 months,10.99%,196.41,B,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235618,235619,2.014359e+09,4906837,10000.0,10000.0,10000.0,36 months,11.99%,332.10,B,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235619,235620,2.014359e+09,5229384,6000.0,6000.0,6000.0,36 months,15.61%,209.79,C,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235620,235621,2.014359e+09,4940797,8525.0,8525.0,8525.0,60 months,18.25%,217.65,D,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235621,235622,2.014359e+09,7644705,18000.0,18000.0,17975.0,36 months,7.90%,563.23,A,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235622,235623,2.014359e+09,5146698,10000.0,10000.0,10000.0,36 months,18.25%,362.78,D,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235623,235624,2.014359e+09,4161321,15000.0,15000.0,15000.0,36 months,13.53%,509.25,B,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235624,235625,2.014359e+09,7552396,18400.0,18400.0,18400.0,60 months,14.47%,432.64,C,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235625,235626,2.014359e+09,5835993,22000.0,22000.0,22000.0,60 months,19.97%,582.50,D,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235626,235627,2.014359e+09,3679637,20700.0,20700.0,20700.0,60 months,16.99%,514.34,D,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235627,235628,2.014359e+09,5038926,2000.0,2000.0,2000.0,36 months,7.90%,62.59,A,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235628,235629,2.014359e+09,6081309,10000.0,10000.0,9975.0,36 months,19.20%,367.58,D,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
235629,235630,2.014359e+09,7130809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235630,235631,2.014359e+09,4074876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Display all columns
pd.set_option('display.max_columns', 200)

In [6]:
# Column description
df_p2p.describe(include='all')

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
count,235631.000000,2.356310e+05,2.356310e+05,235629.000000,235629.000000,235629.000000,235629,235629,235629.000000,235629,235629,222393,223610,235629,2.356290e+05,235629,235629,235629,235629,0.0,15279,235629,235629,235629,235629,235629.000000,235629.000000,235629,235629.000000,119748.000000,41524.000000,235629.000000,235629.000000,2.356290e+05,235504,235629.000000,235629,235629.000000,235629.000000,235629.000000,235629.000000,235629.000000,235629.000000,2.356290e+05,235629.000000,235629.000000,235486,235629.000000,8241,235603,235629.000000,66478.000000,235629.0,235629,0.0,0.0,0.0,235629.000000,2.356290e+05,2.356290e+05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.356290e+05,0.0,0.0,0.0,235629.000000,235623.000000,233184.000000,233018.000000,235629.000000,235629.000000,228458.000000,235629.000000,235629.000000,235629.000000,235629.000000,233383.000000,62281.000000,213937.000000,84766.000000,235629.000000,235629.000000,235629.000000,235629.00000,235629.000000,235629.000000,235629.000000,235629.000000,235629.000000,235629.000000,227769.000000,235629.000000,235629.000000,235629.000000,235629.000000,233072.000000,235629.000000,235629.000000,2.356290e+05,2.356290e+05,2.356290e+05,2.356290e+05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,235629,507,507,507,507.0,507.000000,507,507,507,507.0,507.000000,507,404.000000,507.000000,507.000000,235629,4343,4343,4343,4343.000000,4343.000000,4343.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,2,89,NaN,7,35,75352,11,4,NaN,3,12,6,2,NaN,14843,13,2057,866,49,NaN,NaN,638,NaN,NaN,NaN,NaN,NaN,NaN,1160,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65,NaN,2,66,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,9,3,NaN,NaN,28,29,28,NaN,NaN,4,NaN,NaN,NaN,2,57,3,59,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,36 months,12.99%,NaN,C,C2,Teacher,10+ years,MORTGAGE,NaN,Source Verified,Oct-2014,Fully Paid,n,NaN,Borrower added on 03/17/14 > Debt consolidat...,debt_consolidation,Debt consolidation,750xx,CA,NaN,NaN,Aug-2001,NaN,NaN,NaN,NaN,NaN,NaN,0%,NaN,w,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mar-2017,NaN,Jul-2019,Jun-2019,NaN,NaN,NaN,Individual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,INTEREST ONLY-3 MONTHS DEFERRAL,EXCESSIVE_OBLIGATIONS,COMPLETED,NaN,NaN,Sep-2017,Dec-2017,Oct-2017,NaN,NaN,Late (16-30 days),NaN,NaN,NaN,N,Jun-2018,COMPLETE,Apr-2017,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,162570,12630,NaN,66565,13965,4569,79505,119937,NaN,99887,38783,185945,235628,NaN,11,143006,140624,2546,33288,NaN,NaN,1980,NaN,NaN,NaN,NaN,NaN,NaN,590,NaN,123473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9254,NaN,8235,78503,NaN,NaN,NaN,235629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,235626,507,116,401,NaN,NaN,102,86,82,NaN,NaN,229,NaN,NaN,NaN,231286,188,2960,225,NaN,NaN,NaN
mean,117816.000000,2.014241e+09,5.628127e+06,14870.156793,14870.156793,14865.334169,NaN,NaN,442.454964,NaN,NaN,NaN,NaN,NaN,7.485415e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.040770,0.344512,NaN,0.755760,33.398019,70.711444,11.668093,0.222460,1.650809e+04,NaN,26.010826,NaN,59.241365,59.230791,16588.202280,16582.836344,13031.644360,3312.612042,1.413935e+00,242.531941,39.891226,NaN,4500.115364,NaN,NaN,0.015440,42.407879,1.0,NaN,NaN,NaN,NaN,0.005734,2.703017e+02,1.398023e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.070905e+04,NaN,NaN,NaN,4.404785,13413.435204,8461.743331,64.659407,0.010716,10.200166,128.533293,185.748609,13.070407,7.997186,1.851173,24.444917,39.630915,6.920481,35.458580,0.503414,3.687445,5.804888,4.64773,8.544008,8.572918,8.276592,15.298643,5.769557,11.618825,0.000966,0.003722,0.094581,2.006892,94.239886,50.770059,0.134873,0.055757,1.702490e+05,4.838943e+04,2.003141e+04,3.988339e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,117.019921,NaN,NaN,NaN,3.0,14.743590,NaN,348.160545,8050.687633,192.247732,NaN,NaN,NaN,NaN,4457.617960,46.911559,9.501727
std,68020.954977,6.802124e+04,1.187936e+06,8438.318193,8438.318193,8435.524995,NaN,NaN,245.041738,NaN,NaN,NaN,NaN,NaN,5.554753e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.023002,0.898319,NaN,1.033981,21.779818,28.463384,5.268175,0.604696,2.146289e+04,NaN,11.895675,NaN,374.978567,374.908461,10855.496259,10851.999459,8605.140282,3368.976375,1.026320e+01,967.421009,168.370261,NaN,6202.361426,NaN,NaN,0.143081,20.886556,0.0,NaN,NaN,NaN,NaN,0.081086,1.895292e+04,1.530226e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.687980e+04,NaN,NaN,NaN,2.865349,16016.231065,13365.346026,26.433340,0.116863,587.501136,51.279966,93.040778,16.111818,8.738951,2.161213,30.295965,22.573247,5.931004,22.298694,1.264196,2.155902,3.141478,2.72445,4.821962,7.302646,4.318805,8.055087,3.123751,5.266031,0.032038,0.065202,0.490951,1.604793,8.463073,34.915657,0.376381,0.409256,1.719961e+05,4.596607e+04,2.020999e+04,4.143171e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,77.889168,NaN,NaN,NaN,0.0,9.321303,NaN,238.371098,4606.013636,149.340962,NaN,NaN,NaN,NaN,3280.519642,10.062569,8.542329
min,1.000000,2.014123e+09,3.568226e+06,1000.000000,1000.000000,950.000000,NaN,NaN,23.360000,NaN,NaN,NaN,NaN,NaN,3.000000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,NaN,2.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-5.000000e-10,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,1.0,NaN,NaN,NaN,NaN,0.000000,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16.700000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.470000,NaN,NaN,NaN,3.0,0.000000,NaN,4.410000,174.150000,0.040000,NaN,NaN,NaN,NaN,44.210000,0.550000,0.000000
25%,58908.500000,2.014182e+09,4.598494e+06,8325.000000,8325.000000,8325.000000,NaN,NaN,265.680000,NaN,NaN,NaN,NaN,NaN,4.537700e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.020000,0.000000,NaN,0.000000,15.000000,50.000000,8.000000,0.000000,6.336000e+03,NaN,17.000000,NaN,0.000000,0.000000,8247.450070,8244.260000,6028.230000,1092.280000,0.000000e+00,0.000000,0.000000,NaN,367.480000,NaN,NaN,0.000000,25.000000,1.0,NaN,NaN,NaN,NaN,0.000000,0.000000e+00,2.946000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.330000e+04,NaN,NaN,NaN,2.000000,3110.000000,1110.000000,45.900000,0.000000,0.000000,101.000000,120.000000,4.000000,3.000000,0.000000,6.000000,20.000000,2.000000,16.000000,0.000000,2.000000,4.000000,3.00000,5.000000,4.000000,5.000000,9.000000,4.000000,8.000000,0.000000,0.000000,0.000000,1.000000,91.400000,22.200000,0.000000,0.000000,4.780000e+04,2.076900e+04,7.000000e+03,1.359200e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,58.600000,NaN,NaN,NaN,3.0,7.500000,NaN,170.287500,4773.990000,80.645000,NaN,NaN,NaN,NaN,2007.000000,45.000000,1.000000
50%,117816.000000,2.014241e+09,5.627679e+06,13000.000000,13000.000000,13000.000000,NaN,NaN,384.060000,NaN,NaN,NaN,NaN,NaN,6.500000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.630000,0.000000,NaN,0.000000,30.000000,69.000000,11.000000,0.000000,1.168600e+04,NaN,24.000000,NaN,0.000000,0.000000,14021.870000,14017.600000,11200.000000,2115.030000,0.000000e+00,0.000000,0.000000,NaN,1111.750000,NaN,NaN,0.000000,43.000000,1.0,NaN,NaN,NaN,NaN,0.000000,0.000000e+00,8.202700e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.280000e+04,NaN,NaN,NaN,4.000000,7533.000000,3625.000000,68.900000,0.000000,0.000000,131.000000,168.000000,8.000000,6.000000,1.000000,14.000000,39.000000,5.000000,32.000000,0.000000,3.000000,5.000000,4.00000,8.000000,7.000000,7.000000,14.000000,5.000000,11.000000,0.000000,0.000000,0.000000,2.000000,97.600000,50.000000,0.000000,0.000000,1.115140e+05,3.668500e+04,1.380000e+04,3.000000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,101.990000,NaN,NaN,NaN,3.0,16.000000,NaN,301.350000,7340.190000,163.920000,NaN,NaN,NaN,NaN,3744.000000,45.000000,10.000000
75%,176723.500000,2.014300e+09,6.659445e+06,20000.000000,20000.000000,20000.000000,NaN,NaN,578.690000,NaN,NaN,NaN,NaN,NaN,9.000000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.760000,0.000000,NaN,1.000000,49.000000,97.000000,14.000000,0.000000,2.052800e+04,NaN,33.000000,NaN,0.000000,0.000000,22522.020000,22512.240000,18000.000000,4319.170000,0.000000e+00,0.000000,0.000000,NaN,6801.000000,NaN,NaN,0.000000,59.000000,1.0,NaN,NaN,NaN,NaN,0.000000,0.000000e+00,2.095060e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.840000e+04,NaN,NaN,NaN,6.000000,18722.000000,9880.000000,87.500000,0.000000,0.000000,154.000000,234.000000,16.000000,10.000000,3.000000,30.000000,58.000000,10.000000,52.000000,0.000000,5.000000,7.000000,6.00000,11.000000,11.000000,10.000000,20.000000,7.000000,14.000000,0.000000,0.000000,0.000000,3.000000,100.000000,80.000000,0.000000,0.000000,2.475220e+05,6.082100e+04,2.620000e+04,5.356600e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,160.855000,NaN,NaN,NaN,3.0,23.000000,NaN,476.235000,11154.565000,273.415000,NaN,NaN,NaN,NaN,6041.000000,50.000000,17.000000
max,235631.000000,2.014359e+09,7.685435e+06,35000.000000,35000.000000,35000.000000,NaN,NaN,1409.990000,NaN,NaN,NaN,NaN,NaN,7.500000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.990000,22.000000,NaN,6.000000,188.000000,121.000000,84.000000,63.000000,2.560703e+06,NaN,156.000000,NaN,9000.150000,9000.150000,63296.877917,63296.880000,35000.000000,28192.500000,7.318400e+02,32321.340000,5386.293000,NaN,36234.440000,NaN,NaN,20.000000,188.000000,1.0,NaN,NaN,NaN,NaN,4.000000,9.152545e+06,4.026405e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.999999e+06,NaN,NaN,NaN,53.000000,497484.000000,260250.000000,255.200000,7.000000,70076.000000,561.000000,842.000000,372.000000,226.000000,37.000000,616.000000,170.000000,25.000000,180.000000,33.000000,26.000000,38.000000,35.00000,61.000000,150.000000,62.000000,105.000000,38.000000,84.000000,2.000000,4.000000,22.000000,26.000000,100.000000,100.000000,12.000000,63.000000,9.999999e+06,2.688920e+06,1.090700e+06,1.241783e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,382.340000,NaN,NaN,NaN,3.0,32.000000,NaN,1147.020000,21750.750000,757.420000,NaN,NaN,NaN,NaN,28000.000000,521.350000,38.000000

In [7]:
# List of all the columns that will be dropped
dropped_cols = [
    'Unnamed: 0',       # IDs not needed for data analysis
    'id',               # IDs not needed for data analysis
    'member_id',        # IDs not needed for data analysis
    'application_type', # All values homogeneous
    'funded_amnt',      # Values will always be same as loan_amnt
    'url',              # All NaN
    
    # These information below are not available before accepting the borrower, so very useless for training or drawing insights
    'debt_settlement_flag_date', 'settlement_status', 'settlement_date', 'settlement_percentage', 'settlement_term',
    'debt_settlement_flag', 'hardship_last_payment_amount', 'hardship_payoff_balance_amount', 'hardship_loan_status',
    'hardship_dpd', 'hardship_length', 'hardship_start_date', 'hardship_end_date', 'hardship_amount', 'deferral_term',
    'hardship_status', 'hardship_reason', 'hardship_type', 'policy_code', 'recoveries', 'out_prncp_inv', 'out_prncp',
    'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'collection_recovery_fee', 'settlement_amount',
    'payment_plan_start_date'
]

In [8]:
# Drop all the listed columns
df_p2p.drop(axis=1, columns=dropped_cols, inplace=True)

In [9]:
# Drop rows and cols which have all NaN values
df_p2p.dropna(how='all', inplace=True)

In [18]:
# Convert columns to date times, add credit length and secondary app credit length
df_p2p.issue_d = pd.to_datetime(
    df_p2p.issue_d, format='%b-%Y')
df_p2p.earliest_cr_line = pd.to_datetime(
    df_p2p.earliest_cr_line, format='%b-%Y')
df_p2p.sec_app_earliest_cr_line = pd.to_datetime( 
    df_p2p.sec_app_earliest_cr_line, format='%b-%Y')
df_p2p['credit_length'] = df_p2p.issue_d - df_p2p.earliest_cr_line
df_p2p['credit_length'] = df_p2p['credit_length'].dt.days.astype(int)/365
df_p2p['secondary_app_credit_length'] = df_p2p.issue_d - df_p2p.sec_app_earliest_cr_line
df_p2p['secondary_app_credit_length'].fillna(0, inplace=True)
df_p2p['secondary_app_credit_length'] = df_p2p['secondary_app_credit_length'].dt.days.astype(int)/365